<template name="search">
<ul class="no-bullet">
  {{#each this}}
  <h2><a class="show-post" href="{{pathFor 'show_post'}}">{{#markdown}}{{this.title}}{{/markdown}}</a></h2>
  <li></li>
  {{/each}}
</ul>
</template>

<!-- NOT IN USE -->
<template name="es-search">
{{> esInput index="posts" placeholder="Search..."}}
<hr />
<ul>
  {{#esEach index="posts"}}
  <li>{{#markdown}}{{content}}{{/markdown}}</li>
  {{/esEach}}
</ul>
{{#ifEsHasNoResults index="posts"}}
<div class="no-results">
  <p>Sorry, no matches found :-/</p>
</div>
{{/ifEsHasNoResults}}

{{#ifEsIsSearching index="players"}}
        <div>Searching...</div>
{{/ifEsIsSearching}}
</template>