//  LAYOUT
// ____________________ */
.centered {
  text-align:center;
  display: inline-block;
  // width: 50px;
}
.hidden {
  display: none;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}

//  CSS TABLES
// ____________________ */
.display-table {
  display: table;
  width: 100%;
  height: 100%;
 
  .table-row {
    display: table-row;
    height: 100%;

    .table-cell {
      display: table-cell;
      height: 100%;

      &.centered > div {
        margin-left: auto;
        margin-right: auto;
      }
      &.vertical-center {
        vertical-align:middle;
      }
    }
  }
}