<template name="home">
  <header class="content-header post-header home">
    <div class="header-left">
    &nbsp;    
    </div>
    <div class="header-center page-title">
      {{> loginButtons}} 
    </div>
    <div class="header-right">
      <a href="{{pathFor 'new_post'}}" class="icon-link" title="New Post">
        <i class="fa fa-plus fa-2x"></i>
      </a>         
    </div>
  </header>
  <hr />
  <section class="main-content posts-list">{{> posts_list}}</section>
<!--   <footer class="home">
    <ul class="horizontal">
      <li>About</li>
      <li>Contact</li>
      <li>Twitter</li>
    </ul>
  </footer> -->
</template>