// BASE LAYOUT
// 768px or smaller
// __________________________________

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  *, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }

html, body { height: 100%; }
body { margin: 0; padding: 0; }


// APP CONTAINER
// _________________________
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

//  CONTENT HEADER
// _________________________
.content-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1em;
  height: 5em;

  .header-left, .header-right {
    width: 2em;
  }
  .header-center {
    flex: 1;
    padding-left: .5em;
    padding-bottom: .1em;
  }
}

//  MAIN CONTENT
// _________________________

.main-content {
  height: 100%;
  padding-left: $app-padding-left-mobile;
  padding-right: $app-padding-right-mobile;
  overflow-y: hidden;
}



// UNUSED?
// ____________________

// .content-info {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;

//   align-items: left;
//   width: 100%;


//   .meta-info {
//     height: .2em;
//   }
// }
// .user-nav {
//   display: none;
// }