// BASE STYLES
// 768px or smaller
// __________________________________

html, body {
  height: 100%; 
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: $off-black;
  background-color: $app-background-color;
  overflow-y:hidden;
  position: relative;
}

.header-notice {
    position: absolute;
    z-index: 101;
    top:0;
    left: 40%;
    right: 40%;
    // width: 50px;
    height: 15px;
    background: #FDE784;
      opacity: .7; 
    text-align: center;
    // line-height: 2.5;
    overflow: hidden; 
    font-size: .75em;
    // @include box-shadow(0 0 5px black);
}


//  APP HEADER
// _________________________
.app-header {
  // position: relative;
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 3.5em;
  background-color: $very-light-gray;
  border-bottom: 1px solid $light-gray;

  .header-row {
    display: table-row;
  }
  .header-left, .header-center, .header-right {
    display: table-cell;
    text-align: center;
    vertical-align:middle;
  }

  .header-left, .header-right {
    width: 3.5em;
  }
   .header-left {
    text-align: left;
    padding-left: $app-padding;
  }
    .header-right {
    text-align: right;
    padding-right: $app-padding;
  }
}

//  MAIN CONTENT
// _________________________

.main-content {
  height: 100%;
  width: 100%;
  padding-left: $app-padding + .5em;
  padding-right: 2em;

}

//  POSTS
// _________________________
 .post-content {
    height: 100%;
    width: 100%;
    font-size: $editor-text;
    display:table;
    padding: .5em .25em;

    ul {
      margin-left: 1em;
      padding-left: 0;

      li {
      line-height: normal;
      
    }

    } 
  }


//   Layout for 768px and wider
//______________________________

@media all and (min-width: 768px) {

  .app-container {
    display: flex;
    flex-direction: row;
    // padding-left: 250px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .app-nav-container {
    position: static;
    width: 250px;
    margin: 0;
    padding: 0;

    .app-nav {
      position: relative;
      padding: 10px;
      width: 200px;
    }
  }

  .content-container {
    position: static;
    width: 100%;
  
    .app-nav-toggle {
      display: none;
    }
  }


  .user-nav {
    // TODO: what is default for "self flex"?
    display: block;
  }
}