/*  APP LEVEL
____________________ */

body {
   color:#333333;
   background-color: #E6E6E6;
  }
.app-container {
  background-color: #FFFFFF;
}

// .app-nav, .main-content {
//   background:  #E6E6E6
// }