


// BASE COLORS
// ____________________________
body {
   color: $off-black;
   background-color: $very-light-gray;
  }

.app-container {
  background-color: white;
}

// APP HEADER
// ____________________________
// .content-header {
//   background-color: $very-light-gray;
// }

// COMPONENTS
// ____________________________


.icon-button .fa {
  color: $light-gray; 
}