
// STANDARD COLORS
// ____________________________

$off-black:            #333333;
$steel-gray:           #666666;
$light-gray:           #D5D5D5;
$very-light-gray:      #F5F5F5;


// BASE COLORS
// ____________________________
body {
   color: $off-black;
   background-color: $very-light-gray;
  }

.app-container {
  background-color: white;
}

// APP HEADER
// ____________________________
.content-header {
  background-color: $very-light-gray;
}

// COMPONENTS
// ____________________________


.icon-button .fa {
  color: $light-gray; 
}