
/*  BUTTONS
____________________ */

button {
  cursor: pointer;

  &.icon-button {
    background-color: transparent;
    border:none;
    color: $light-gray;

    &:focus {
     outline: 0;
    }

    i:hover {
      color: $steel-gray;
    }
  }
  &.unstyled {
    background-color: transparent;
    border:none;

    &:focus {
     outline: 0;
    }
  }
}


/*  POST FORM
____________________ */

.editable {
  cursor: pointer;
}

 .post-content {
    height: 100%;
    width: 100%;
    font-size: $editor-text;
  }

form.post-form {
  height: 100%;
  width: 100%;
  // position: relative;
  
  textarea {
    // position: absolute;
    // top:0;
    // left:0;
    // right:50px;
    // bottom:0;
    box-sizing: border-box;
      width: 83vw;
    height: 87vh;
    // height: 100%;
    // width: 100%;
    padding: .5em 1em 1em .5em;
    border:none;
    outline: none;
    // overflow: auto;
    line-height: normal;
  }
 
}

 // input {
  //   font-size: $editor-text;
  //   // font-weight: bold;
  //   color: $steel-gray;
  //   height: 100%;
  //   // width: 100%;
  //   padding: .5em 1em .5em .5em;
  //   margin-bottom: 0;
  //   border:none;
  //   outline: none;
  //   // overflow: auto;

  //   &.post-title {
  //     font-weight: 700;
  //   }
  // }

  // h1.post-title {
  //   font-size: $editor-text;
  //   line-height: $editor-line-height;
  //    font-weight: 900;
  //    padding: .5em 1em 0 .5em;
  //    margin-bottom: 0;
  // }
// .main-content .post-content {
//   // font-size: $editor-text;
// }
