button {
  cursor: pointer;

  &.icon-button {
    background-color: transparent;
    border:none;

    &:focus {
     outline: 0;
    }
  }
}

form.post {
  height: 100%;
  
  textarea {
    font-size: $editor-text;
    height: 100%;
    width: 100%;
    padding: .5em 1em 1em .5em;
    border:none;
    outline: none;
    overflow: auto;
  }
}

