
/*  BUTTONS
____________________ */

button {
  cursor: pointer;

  &.icon-button {
    background-color: transparent;
    border:none;
    color: $light-gray;

    &:focus {
     outline: 0;
    }

    i:hover {
      color: $steel-gray;
    }
  }
}


/*  POST FORM
____________________ */

form.post-form {
  height: 100%;
  
  textarea {
    height: 100%;
    width: 100%;
    padding: .5em 1em 1em .5em;
    border:none;
    outline: none;
    overflow: auto;
  }
  input {
    font-size: $editor-text;
    // font-weight: bold;
    color: $steel-gray;
    height: 100%;
    width: 100%;
    padding: .5em 1em .5em .5em;
    margin-bottom: 0;
    border:none;
    outline: none;
    overflow: auto;

    &.post-title {
      font-weight: 700;
    }
  }

  h1.post-title {
    font-size: $editor-text;
     font-weight: 900;
     padding: .5em 1em 0 .5em;
     margin-bottom: 0;
  }

  .main-content .post-content {
    height: 100%;
    width: 100%;
    font-size: $editor-text;
  }
}

.main-content .post-content {
  // font-size: $editor-text;
}
