//HELPERS
// _______________

.centered {
  text-align:center;
  display: inline-block;
  width: 50px;
}
// .table-vertical-middle {
//   vertical-align: middle;
// }
// .height-10 {
//   height: 10px;
// }
