//   Layout for 768px and wider
//______________________________

@media all and (min-width: 768px) {

  .app-container {
    display: flex;
    flex-direction: row;
    // padding-left: 250px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .app-nav-container {
    position: static;
    width: 250px;
    margin: 0;
    padding: 0;
    background: #ccc;

    .app-nav {
      position: relative;
      padding: 10px;
      width: 200px;
    }
  }

  .content-container {
    position: static;
    width: 100%;
  
    .app-nav-toggle {
      display: none;
    }
  }


  .user-nav {
    // TODO: what is default for "self flex"?
    display: block;
  }
}