//  POSTS
// _________________________
 .markdown {
    // height: 100%;
    // width: 100%;
    // font-size: $editor-text;
    // padding: .5em .25em;

    ul {
      margin-left: 1em;
      padding-left: 0;

      li {
      line-height: normal;
    }
  } 
}
