//  
// Layout for smaller than 800px
// _________________________

// BASE
// _________________________
html, body { height: 100%; }
body { margin: 0; padding: 0; }

// APP CONTAINER
// _________________________
.app-container {
  height: 100%;
  // display: flex;
  // flex-direction: column;

  // TOGGLE SIDEBAR
  padding-left: 0;
  transition: all 0.5s ease;

  &.toggled {
    padding-left: 250px;

    .app-nav-container {
      width: 250px;
    }

    .content-container {
      position: absolute;
      margin-right: -250px;
    }
  }
}

//  APP NAV
// _________________________

.app-nav-container {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease;

    .app-nav {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      margin: 0;
      padding: 0;
    }
}


//  CONTENT CONTAINER
// _________________________

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  padding:0;
  margin: 0;
}


//  CONTENT HEADER
// _________________________

.content-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;
  padding-right: $app-padding-right-mobile;

  height: 5em;
}
.app-nav-toggle {
  width: 5em;
}
.content-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  align-items: left;
  width: 100%;

  .page-title {
     flex: 1;
     padding-bottom: .1em;
  }
  .meta-info {
    height: .2em;
  }
}
.user-nav {
  display: none;
}


//  MAIN CONTENT
// _________________________

.main-content {
  // flex: 2;
  height: 100%;
  padding-left: $app-padding-left-mobile;
  padding-right: $app-padding-right-mobile;
  overflow-y: hidden;
}

  


