// BASE
// ____________________________

html {
  color: $base-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
body {
   font-family: $font-family;
}


// HEADINGS
// ____________________________
 header h1 {
    display: inline;
    color: $steel-gray;
    word-wrap: break-word;
    font-size: $header-text;
  }


// INLINE TEXT
// ____________________________

  .meta-info {
    color: $light-gray;
  }
  p.meta-info {
    font-size: $small-text;
  }

  .tag {
    &:before {
      content: "#";
    }
  }

.editable-text {
  cursor: pointer;
}

.icon-link {
  color: $light-gray;
  &:visited, &:active {
    color: $light-gray;
  }
  &:hover {
    color: $steel-gray;
  }
}