// STANDARD FONT SIZES
// ____________________________

$small-text: .7em;
$editor-text: 2em;


// BASE
// ____________________________
body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
  }


// HEADINGS
// ____________________________
 header h1 {
    display: inline;
    color: $steel-gray;
    word-wrap: break-word;
  }


// INLINE TEXT
// ____________________________

  .meta-info {
    color: $light-gray;
  }
  p.meta-info {
    font-size: $small-text;
  }

  .tag {
    &:before {
      content: "#";
    }
  }

.editable-text {
  cursor: pointer;
}

.icon-link {
  color: $light-gray;
  &:visited, &:active {
    color: $light-gray;
  }
  &:hover {
    color: $steel-gray;
  }
}