// LAYOUT
// _____________________
$app-padding-left-mobile: .75em;
$app-padding-right-mobile: .75em;

// STANDARD FONT SIZES
// ____________________________

$base-font-size: 17px;
$small-text: .7em;
$header-text: 2em;
$editor-text: 2em;
