<template name="posts">
  {{#each allPosts}}
      {{#if isEditable}}
  <form class="update-post-content">
    <textarea class="autosize" cols="50" id="content" name="content" placeholder="New post...">{{content}}</textarea>
<button class="done">Done</button>
  </form>
  {{else}}
  <button class="delete icon-button pull-right gray">&times;</button> <p class="editable">{{#markdown}}{{content}}{{/markdown}}</p>
 <p class="meta-text">Created: {{livestamp createdAt}}</p>  
  {{/if}}
  <hr />
  {{/each}}
</template>

<!-- <template name="item">
  <div class="item">
    <span>{{itemText}}</span>
    <span class="glyphicon glyphicon-pencil item-edit" aria-hidden="true"></span>
  </div>
  <div class="mod-table">
    {{#if editMode}}
      {{> modTable}}
    {{/if}}
  </div>
</template> -->