<template name="posts">
  {{#each allPosts}}
      {{#if isEditable}}
      <form>
    <textarea autofocus="autofocus" cols="50" id="content" name="content" class="update-post-content" type="text" value="{{content}}" placeholder="Empty post...">
</textarea>
<button class="done">Done</button>
  </form>
   <!--  <input class="update-post-content" type="text" data-id="{{_id}}" value="{{content}}" placeholder="Empty post...">
    <button class="done">Done</button> -->
  {{else}}
  <p class="editable">{{#markdown}}{{content}}{{/markdown}}</p>
  <p>Created: {{livestamp createdAt}}</p>
  <button class="delete">&times;</button>
  {{/if}}
  {{/each}}
</template>

<!-- <template name="item">
  <div class="item">
    <span>{{itemText}}</span>
    <span class="glyphicon glyphicon-pencil item-edit" aria-hidden="true"></span>
  </div>
  <div class="mod-table">
    {{#if editMode}}
      {{> modTable}}
    {{/if}}
  </div>
</template> -->