<template name="app_header">
  <header class="app-header"> {{#if saveNotice}}
  <div class="header-notice">{{saveNotice}}</div>
  {{/if}}
    <div class="header-row">
      <div class="header-left">
       {{> nav_button event=headerLeft.event icon=headerLeft.icon title=headerLeft.title}}  
      </div>
      <div class="header-center">
      {{> Template.dynamic template=headerCenter}}
      </div>
      <div class="header-right">
      {{#if showRightButton}}
       {{> nav_button event=headerRight.event icon=headerRight.icon title=headerRight.title}} 
       {{/if}} 
      </div>
    </div>
  </header>
</template>

<template name="app_headerTmp">
  <header class="app-header">
    <div class="header-row">
      <div class="header-left">
       {{> nav_button event=headerLeft.event icon=headerLeft.icon title=headerLeft.title}}  
      </div>
      <div class="header-center">
      {{#if isHomePage}}
      {{> user_nav}}
      {{else}}
        <h1>
          {{#if shortenedTitle}}
            {{shortenedTitle}}&hellip;
          {{else}}
            {{pageTitle}}
          {{/if}}
        </h1>
        {{#if saveNotice}}
         <p class="meta-info">
          {{saveNotice}}
           </p>
        {{/if}}
      {{/if}}
      </div>
      <div class="header-right">
      {{#if showRightButton}}
       {{> nav_button event=headerRight.event icon=headerRight.icon title=headerRight.title}} 
       {{/if}} 
      </div>
    </div>
  </header>
</template>