// GLOBAL
// ____________________________

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}
body {
   font-family: $font-family;
}


// HEADINGS
// ____________________________
 header h1 {
    display: inline; //LAYOUT
    color: $gray;
    word-wrap: break-word;
    font-size: $header-text;
  }




// TEXT
// ____________________________

  .meta-info {
    color: $light-gray;
  }
  p.meta-info {
    font-size: $small-text;
  }

// TODO: replace with <i class="fa fa-tag"></i> - will need to create a tag button component
  .add-hash {
    &:before {
      content: "#";
    }
  }

.editable-text {
  cursor: pointer;
}




