// CORE
@import "normalize";
@import "variables";
@import "helpers";
@import "mixins";  // Review to see if I need/use these

// LAYOUT
@import "layout_global";

// COMPONENTS
@import "partials/forms";
@import "partials/lists";
@import "components/notices";


@import "partials/post_content";


// VENDOR
@import "vendor/useraccounts";

// THEME
@import "colors";
@import "typography";
@import "partials/markdown";


// WHERE DOES THIS GO?

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

// @media only screen and (min-width: 35em) {
//     /* Style adjustments for viewports that meet the condition */
// }

// @media print,
//        (-webkit-min-device-pixel-ratio: 1.25),
//        (min-resolution: 1.25dppx),
//        (min-resolution: 120dpi) {
//     /* Style adjustments for high resolution devices */
// }
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
