<template name="AppLayout">

<div class="app-container">
  <div class="app-nav-container">
  <nav class="app-nav">
      <p>App Nav</p>
       <div>(close icon)</div>
    <section>[User Nav (responsive view only)]</section>
    <section>[Search Form]</section>
    <section>[New Note]</section>
    <section>[Recent Tags]</section>
    <section>[Recent Notes]</section>
    <footer>About, Contact, Twitter</footer>
    </nav>
</div>

  {{! *** APP CONTENT *** }}
  <div class="content-container">

     {{! *** APP HEADER *** }}
    <header class="content-header">
      <div class="header-left">
        <button class="app-nav-toggle">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="content-info">
        <h1>Page Title</h1>
        <p class="meta-info">Use markdown and basic html.</p>
      </div>
      <div class="user-nav header-right">
        <i class="fa fa-user"></i>
      </div>
    </header>
   
    {{! *** MAIN CONTENT *** }}
    <div class="main-content">
       {{> yield}}
    </div>    
  </div>{{! /.content-container}}
</div>{{! /.app-container}}
</template>