<template name="AppLayout">

<div class="app-container">
  {{> AppNav}}

  {{! *** APP CONTENT *** }}
  <div class="content-container">

     {{! *** APP HEADER *** }}
    <header class="content-header">
      <div class="app-nav-toggle">
        <button class="app-nav-toggle icon-button">
          <i class="fa fa-bars fa-3x"></i>
        </button>
      </div>
      <div class="content-info">
        
       <!--  <div class="page-title"><h1>Logd</h1></div> -->
          <div class="meta-info"> Meta info, eg last saved, help tips
          </div>
      </div>
      <div class="header-right">
     {{#if isEditing}}
       {{#if postHasContent}}
       <button class="done-editing icon-button">
          <i class="fa fa-check fa-3x"></i>
        </button>
        {{/if}}
      {{else}}
      <button class="edit icon-button">
          <i class="fa fa-pencil fa-3x"></i>
        </button>
      {{/if}}
         
      </div>
    </header>
   
    {{! *** MAIN CONTENT *** }}
    <div class="post-content">
       {{> yield}}
    </div>

 {{! *** POST FOOTER *** }}
       <footer class="post-footer">
      
      <section class="delete-post">
        <button class="delete icon-button">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
      </section>
      
      <section class="future-options">
        {{! eg share this, or add collaborators }}
      </section>

      <section class="new-post">
            <a href="{{pathFor 'new_post'}}" class="icon-link"><i class="fa fa-plus fa-2x"></i></a> 
      <!--   <button class="icon-button">
          <i class="fa fa-plus fa-2x"></i>
        </button> -->
      </section>
    </footer>

  </div>{{! /.content-container}}
</div>{{! /.app-container}}
</template>