<template name="ApplicationLayout">
  <div class="pusher">
       {{> yield}}
  </div>  



   <!--  <div class="full height">
    <div class="ui left floated launch icon button">
      <i class="sidebar icon"></i>
    </div>
   <div class="ui masthead">
    <div class="ui centered page grid">
      <div class="ten wide column">
        <div class="ui menu">
          <div class="header item">Logd</div>
         
          <div class="right menu">
            <div class="ui dropdown link item">
              Anders Ramsay
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item">Sign Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui centered page grid">
    <div class="ten wide column"> -->
   
<!--     </div>
  </div>
</div> -->
</template>