<template name="ApplicationLayout">
  <nav class="navbar navbar-default" role="navigation"> 
   <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{pathFor 'home'}}" class="navbar-brand">Logd</a>
    </div>
    <div class="navbar-right">
      {{> loginButtons}}
    </div>
  </div>
</nav>
<div class="container" id="main">
  {{> yield}}
</div>
</template>