<template name="post_layout">
  <div class="post-container">
    <header class="post-header">
      <div class="header-left">
        <button class="back-to-home icon-button" title="Back to Homepage" alt="Back to Homepage">
          <i class="fa fa-chevron-left fa-3x"></i>
        </button>
      </div>
      <div class="header-center">  
       {{> post_title}}
      </div>
      <div class="header-right">
        {{> post_controls}}
      </div>
    </header>
    <div class="post-content">
      {{> yield}}
    </div>
  </div>
</template>