<template name="PostLayout">
  <div class="post-container">
   
    {{! *** POST HEADER *** }}
    <header class="post-header">
      
      <section class="back-nav">
       {{! make this a button instead? }}
        <a href="{{pathFor 'postsList'}}" class="icon-link"><i class="fa fa-bars fa-2x"></i></a>
      </section>
      
      <section class="meta-info">
       Meta info, eg last saved, help tips
      </section>

      <section class="edit-done">
      {{! toggle between new and done here? }}
   <!--      <button class="icon-button">
          <i class="fa fa-check fa-3x"></i>
        </button> -->
      </section>
    </header>

     {{! *** POST CONTENT - either view or edit modes *** }}
    <section class="post-content">
    {{> yield}}
    </section>

    {{! *** POST FOOTER *** }}
    <footer class="post-footer">
      
      <section class="delete-post">
        <button class="delete icon-button">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
      </section>
      
      <section class="future-options">
        {{! eg share this, or add collaborators }}
      </section>

      <section class="new-post">
        <button class="icon-button">
          <i class="fa fa-plus fa-2x"></i>
        </button>
      </section>
    </footer>
  </div>
</template>