<template name="PostLayout">

<div class="app-container">
  {{> AppNav}}

  {{! *** APP CONTENT *** }}
  <div class="content-container">

    {{! *** POST HEADER *** }}
    <header class="content-header">
      <div class="app-nav-toggle">
        <button class="app-nav-toggle icon-button">
          <i class="fa fa-chevron-left fa-3x"></i>
        </button>
      </div>
      <div class="content-info">  
        <div class="page-title">
          {{> yield "post_title"}}      
        </div>
      </div>
      <div class="header-right">
     {{#if isEditing}}
       {{#if postHasContent}}
       <button class="done-editing icon-button">
          <i class="fa fa-check fa-3x"></i>
        </button>
        {{/if}}
      {{else}}
      <button class="edit icon-button">
          <i class="fa fa-pencil fa-3x"></i>
        </button>
      {{/if}}
         
      </div>
    </header>
   
    {{! *** MAIN CONTENT *** }}
    <div class="post-content">
       {{> yield}}
    </div>
  </div>{{! /.content-container}}
</div>{{! /.app-container}}
</template>