<template name="TmpAppLayout">

<div class="app-container">
  {{> AppNav}}

  {{! *** APP CONTENT *** }}
  <div class="content-container">

    {{! *** APP HEADER *** }}
    <header class="content-header">
      <div class="app-nav-toggle">
        <button class="app-nav-toggle icon-button">
      <i class="fa fa-chevron-left fa-3x"></i>  <!-- <i class="fa fa-bars fa-3x"></i> -->
    </button>

      </div>
      <div class="content-info">  
        <div class="page-title">
        <h1 class="meta-info">{{pageTitle}}</h1>  
        </div>
      </div>
      <div class="header-right">
     {{#if isEditing}}
       {{#if postHasContent}}
       <button class="done-editing icon-button">
          <i class="fa fa-check fa-3x"></i>
        </button>
        {{/if}}
      {{else}}
      <button class="edit icon-button">
          <i class="fa fa-pencil fa-3x"></i>
        </button>
      {{/if}}
         
      </div>
    </header>
   
    {{! *** MAIN CONTENT *** }}
    <div class="post-content">
       {{> yield}}
    </div>

 {{! *** POST FOOTER *** }}
       <footer class="post-footer">
   
      <section class="delete-post">
      {{#unless isNewPost}}
        <button class="delete icon-button">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
          {{/unless}}
      </section>
    
          
      <section class="future-options meta-info">
      </section>
    
      <section class="new-post">
        {{#unless isNewPost}}
            <a href="{{pathFor 'new_post'}}" class="icon-link"><i class="fa fa-plus fa-2x"></i></a> 
        {{/unless}}
      </section>
   
    </footer>

  </div>{{! /.content-container}}
</div>{{! /.app-container}}
</template>