<template name="edit_post">
  <header class="app-header">
    <div class="header-left">
     {{> home_nav}}
    </div>
    <div class="header-center page-title">
      <div class="edit-post-title editable-text">
        <h1 class="post-title">
          {{#if shortenedTitle}}
            {{shortenedTitle}}&hellip;
          {{else}}
            {{title}}
          {{/if}}
        </h1>
        <p class="meta-info">{{#if saveNotice}}{{saveNotice}}{{/if}}</p>
      </div> 
    </div>
    <div class="header-right">
    {{#if showDone}}
      <button class="done-editing icon-button" alt="Done Editing" title="Done Editing">
        <i class="fa fa-check fa-3x"></i>
      </button>
      {{/if}}
    </div>
  </header>
  <div class="main-content">
    {{> post_content}}
  </div>
</template>