<template name="edit_post">
 <form id="post-form" class="post-form">
    <header class="content-header">
      <div class="header-left">
       {{> home_nav}}
      </div>
      <div class="header-center page-title">
        {{#if editingPostTitle}}
         <input type="text" class="post-title create-post show-done" placeholder="Add a title..." value="{{title}}" /> 
        {{else}}
        <div class="edit-post-title editable-text"><h1 class="post-title">{{title}}</h1></div>
        {{/if}}  
      </div>
      <div class="header-right">
          <button class="done-editing icon-button" alt="Done Editing" title="Done Editing">
      <i class="fa fa-check fa-3x"></i>
        </button>
      </div>
    </header>
    <div class="main-content">
    {{#if editingPostContent}}
         <textarea id="focus-hack" cols="50" class="post-content">{{content}}</textarea>
         {{else}}
         <div class="edit-post-content editable-text post-content">
            {{#markdown}}{{content}}{{/markdown}}
         </div>
         {{/if}}
    </div>
      </form>
</template>