<template name="edit_post">
  <header class="app-header">
    <div class="header-left">
     {{> home_nav}}
    </div>
    <div class="header-center page-title">
    {{> post_title}}
    </div>
    <div class="header-right">
    {{#if showDone}}
    <button class="icon-button done-editing" alt="Done" title="Done"><i class="fa fa-check fa-2x"></i></button>
    {{/if}}
    </div>
  </header>
  <div class="main-content">
    <div class="post-content">
     <form class="post-form">
  <textarea class="has-content auto-save">{{content}}</textarea>
</form>
    </div>
  </div>
</template>