<template name="new_post">
  <header class="content-header post-header">
    <div class="header-left">
      {{> home_nav}}
    </div>
    <div class="header-center page-title">
      <form id="post-form">
       <!--  <input id="post-title" type="text" class="has-content create-post post-title" placeholder="New post..." value="{{title}}" /> -->
          <textarea id="post-title" class="has-content create-post" placeholder="New post...">{{title}}</textarea>
      </form>
    </div>
    <div class="header-right">
      {{#if postTitleHasContent}}
        <button class="done-button icon-button" alt="Create Post" title="Create Post">
          <i class="fa fa-check fa-3x"></i>
        </button>
      {{/if}}
    </div>
  </header>
</template>