<template name="postContent">
       {{! *** POST HEADER *** }}
    <header class="post-header">
      <section class="back-nav">
        <button class="icon-button">
          <i class="fa fa-chevron-left fa-3x"></i>
        </button>
      </section>
      <section class="meta-info">
       Meta info
      </section>
      <section class="edit-done">
        <button class="icon-button">
          <i class="fa fa-check fa-3x"></i>
        </button>
      </section>
    </header>

     {{! *** POST CONTENT *** }}
    <section class="post-content">
      <p class="placeholder">Post content</p>
    
    </section>


      {{! *** POST FOOTER *** }}
    <footer class="post-footer">
      <section class="delete-post">
        <button class="icon-button">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
      </section>
      <section class="future-options">
        <p class="placeholder">Future options</p>
      </section>
      <section class="new-post">
        <button class="icon-button">
          <i class="fa fa-plus fa-2x"></i>
        </button>
      </section>
    </footer>
</template>