<template name="postsList">
  {{#each myPosts}}
    <div class="post-list-item">
      <div class="post-title">
        <h2><a href="{{pathFor 'show_post'}}">{{title}}</a></h2>
        <ul class="horizontal meta-info">
          {{#each tags}}
            <li><a href="#" class="tag-filter">{{this}}</a></li>
          {{/each}}
            <li>Created: {{livestamp createdAt}}</li>
        </ul>
      </div>
      <div class="delete-post">
        <button class="delete icon-button">
          <i class="fa fa-times fa-2x"></i>
        </button>
      </div>
    </div>
    <hr />
  {{/each}}
</template>