<template name="posts_list">
  <ul class="item-list">
      {{#each posts}}
      <li>
      <div class="options"> <button class="delete icon-button">
          <i class="fa fa-times fa"></i>
        </button>
        </div>
        <div class="list-item with-options">
          <a class="header show-post" href="{{pathFor 'show_post'}}">
          <h2>{{title}}</h2>
          </a>
          </div>
        <ul class="meta-info horizontal">
          {{#each tags}}
             <li>
                <a href="#" class="tag-matches"><span class="add-hash">{{this}}</span></a>
             </li>
          {{/each}}
          <li class="meta-info">
            {{livestamp createdAt}}
          </li>
        </ul>
      </li>
    {{/each}}
  </ul>
</template>


<!--   <section class="content-block">
  <p class="meta-info">Look like you don't have any posts :-/</p>
  <p class="meta-info">(Click on '+' to create a post.)</p>  
  </section>
 -->