<template name="posts_list">
  {{#each myPosts}}
    <div class="post-list-item">
      <div class="post-title">
        <h2><a class="show-post" href="{{pathFor 'show_post'}}">{{title}}</a></h2>
        <ul class="horizontal meta-info">
          {{#each tags}}
            <li><a href="#" class="tag-filter"><span class="tag">{{this}}</span></a></li>
          {{/each}}
        </ul>
        <p class="meta-info">Created: {{livestamp createdAt}}</p>
      </div>
      <!-- <div class="delete-post">
        <button class="delete icon-button">
          <i class="fa fa-times fa-2x"></i>
        </button>
      </div> -->
    </div>
    <hr />
  {{/each}}
</template>