/*  GLOBAL
____________________ */
html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}
body {
   font-family: $font-family;
}

/*  HEADINGS
____________________ */
 header h1 {
    display: inline; //LAYOUT
    color: $gray;
    word-wrap: break-word;
    font-size: $header-text;
  }
 h2 {
  margin-bottom: 0;
  margin-top: 1em;
}


/*  EDITOR
____________________ */
.editor {
  margin-top: 1em; // LAYOUT
  padding: 0 1em;

  textarea {
    font-size: $post-text;
    line-height:$post-line-height;
  }
}

/*  VIEWER (MARKDOWN)
____________________ */

.viewer {
  font-size: $post-text;
  line-height:$post-line-height;
   //margin-top: 1em;  // LAYOUT
   height:90%;
   overflow-x:auto;
   text-wrap:normal;
   padding: 0 1em;

   ul {
     margin-left: 1em;
     padding-left: 0;

     li {
       line-height: normal;
     }

   pre {
      display: inline-block;
      overflow: auto;
    }
  } 
}

/*  SEARCH FORM
____________________ */
.search-form {
  input {
    font-size: $editor-text;
  }
}


/*  HELPERS
____________________ */

.editable {
  cursor: pointer;
}
// .editable-text {
//   cursor: pointer;
// }
.meta-info {
  font-size: $small-text;
}
// TODO: replace with <i class="fa fa-tag"></i> - will need to create a tag button component
.add-hash {
  &:before {
    content: "#";
  }
}





