/*  BUTTONS
____________________ */

.btn {
  padding: .35em  .5em;
  border-radius: .35em;

  &.tag-btn {
    background-color:white;
    border: 1px solid $light-gray;

    i {
      color: $light-gray;
    }

    &.icon-only i, &.icon-only:hover i {
      color: $link-color;
    }

    &:hover  {
      border-color:$gray;
        
      i {
          color: $gray;
      }
    }

    .icon-left {
      margin-right: .3em;
    }
  }
}

/*  BUTTONS
____________________ */

button {
  &.icon-button {
    background-color: transparent;
    border:none;
    color: $light-gray;

    .fa {
      color: $light-gray; 
    }

    &:focus {
     outline: 0;
    }

    i:hover {
      color: $steel-gray;
    }
  }
  &.unstyled {
    background-color: transparent;
    border:none;

    &:focus {
     outline: 0;
    }
  }
}

