/*  INPUT FIELDS
____________________ */

input[type="text"]:focus,
textarea:focus {
    -webkit-text-size-adjust: 100%;
}

/*  BUTTONS
____________________ */
.btn, button {
  cursor: pointer;
}

/*  EDITOR
____________________ */
.editor {
  height: 90%;
  box-sizing: border-box;
  // width: 100%;
  padding-bottom:0;
  overflow: auto;
    
  textarea {
    margin-top:.5em;
    margin-bottom:1em;
    box-sizing: border-box;
    // padding-top: 1em;
    border:none;
    outline: none;
    // overflow:scroll;
    // max-height: 90%;
    // max-height: 90%;
    width:100%;
    resize: vertical;
  }
}


/*  SEARCH FORM
____________________ */

.search-form {
  margin-top: .5em;
  margin-bottom: .5em;

  input {
    height: 2em;
    width: 95%;
    border:none;
    outline: none;
    padding-left: .5em;
    padding-right: .5em;
  }
}
