
// ITEM LIST
// NEXT: try display table to center and fill remaining space
// ____________________________

.item-list {
  list-style-type: none;
  // display: table;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  //margin-right: 3.5em;
  // height: auto;
  //width: 100%;
  //float: left;
  // display: flex;
  // flex-direction: column;

  & > li {
    // display: table-cell;
    border-bottom: 1px solid $light-gray;
    margin-bottom: .75em;
    padding-bottom: .75em;

    .list-item {
      // display: block;
      margin-bottom: .25em;

      &.with-options {
        padding-right: 2.5em;
      }
    }

    &:last-child {
       border-bottom: none;
    }
    .options {
        float:right;
        width: 1em;
        margin-top: .25em;
        margin-right: 1em;
        //text-align: right;
      }
  }
}


// HELPERS
// ____________________________

ul.no-bullet {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul.horizontal {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline;
    padding-right: 5px;
  }  
}