
// ITEM LIST
// NEXT: try display table to center and fill remaining space
// ____________________________

.item-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;

  & > li {
    border-bottom: 1px solid $light-gray;
    margin-top: .75em;
    padding-top: 0;

    .list-item {
      margin-bottom: .25em;

      &.with-options {
        padding-right: 2.5em;
      }
    }

    &:last-child {
       border-bottom: none;
    }
    .options {
      float:right;
      width: 1em;
      margin-top: .5em;
      margin-right: 1em;
    }
  }
}

.list-summary {
  text-align: center;
}


// UNSTYLED
.no-bullet {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

// HORIZONTAL
.horizontal {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  // padding-top: .5em;
  padding-bottom: .75em;

  li {
    display: inline;
    padding-right: 5px;
  }  
}

// gallery
.gallery {
  list-style-type: none;
  padding-top: .5em;
  margin-left: 0;
  padding-left: 0;
  height:2.5em;
  // margin-bottom: 1em;
  // padding-top: .5em;
  // padding-bottom: .5em;

  li {
   float: left;
    margin-right: .5em;
    margin-bottom: 1em;
  }  
}