/*  GLOBAL
____________________ */

/* apply a natural box layout model to all elements, but allowing components to change 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  height: 100%; 
}
body {
  margin: 0;
  padding: 0;
  overflow-y:hidden;
  overflow-x:hidden;
  position: relative;
}

/*  APP CONTAINER
____________________ */
.app-container {
  // overflow:hidden;
  width: 100%;
  height: 100%; 
}


/*  APP HEADER
____________________ */
.app-header  {
  position: fixed;
  top: 0;
  z-index: 10;
  height: $app-header-height;
  width: 100%;
  display: table;
  border-collapse: collapse;
   

  .header-row {
    display: table-row;
  }
  .header-left, .header-center, .header-right {
    display: table-cell;
    text-align: center;
    vertical-align:middle;
  }

  .header-left, .header-right {
    width: 3.5em;
  }
   .header-left {
    text-align: left;
    padding-left: $app-padding;
  }
    .header-right {
    text-align: right;
    padding-right: $app-padding;
  }

}


/*  MAIN CONTENT
____________________ */

.main-content {
  margin-top: $app-header-height;
  // padding-top: $app-header-height + 1em;
  height: 100%;
  width: 100%;
  padding-left: $app-padding;
  padding-right: $app-padding;
  padding-bottom: $app-padding;
  overflow: auto;
}